@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #450561;
  --dark-color: #120c17;
}

body {
  background-color: var(--dark-color);
  min-height: 100vh;
  width: 100vw;
}

.radial-blue {
  background: radial-gradient(lightyellow, skyblue);
}
